<form class="form-horizontal">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <select class="form-control" name="field" id="field">
                    <option selected value="all">All records</option>
                    {{#each searchObjs}}
                        <option value="{{this.search}}">{{this.path}}</option>
                    {{/each}}
                </select>
        </div>
        <div class="col-lg-8 col-sm-8">
            <div id="date-search" class="hide search-box">
                <div class="col-lg-4 col-sm-4">
                    <input class="form-control" type="date" name="from" id="from" />
                </div>
                <div class="col-lg-1 col-sm-1">
                    <label class="control-label">-</label>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <input class="form-control" type="date" name="to" id="to" />
                </div>
                <div class="col-lg-offset-1 col-lg-2 col-sm-offset-1 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="number-search" class="hide search-box">
                <div class="col-lg-4 col-sm-4">
                    <input class="form-control" type="number" min="0" name="from" id="from" />
                </div>
                <div class="col-lg-1 col-sm-1">
                    <label class="control-label">-</label>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <input class="form-control" type="number" min="0" name="to" id="to" />
                </div>
                <div class="col-lg-offset-1 col-lg-2 col-sm-offset-1 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="currency-search" class="hide search-box">
                <div class="col-lg-4 col-sm-4">
                    <input class="form-control" step=".01" min="0" type="number" name="from" id="from" />
                </div>
                <div class="col-lg-1 col-sm-1">
                    <label class="control-label">-</label>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <input class="form-control" step=".01" min="0" type="number" name="to" id="to" />
                </div>
                <div class="col-lg-offset-1 col-lg-2 col-sm-offset-1 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="string-search" class="hide search-box">
                <div class="col-lg-10 col-sm-10">
                    <input class="form-control" id="value" />
                </div>
                <div class="col-lg-1 col-sm-1">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="weight-search" class="hide search-box">
                <div class="col-lg-3 col-sm-3">
                    <input class="form-control" step=".001" min="0" type="number" name="from" id="from" />
                </div>
                <div class="col-lg-1 col-sm-1">
                    <label class="control-label">-</label>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <input class="form-control" step=".001" min="0" type="number" name="to" id="to" />
                </div>
                <div class="col-lg-2 col-sm-2">
                    <select id="value" class="form-control">
                            <option value=""></option>
                            {{#units}}
                                <option value="{{this}}">{{this}}</option>
                            {{/units}}
                        </select>
                </div>
                <div class="col-lg-offset-1 col-lg-2 col-sm-offset-1 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="reasons-search" class="hide search-box">
                <div class="col-lg-10 col-sm-10">
                    <select id="select" class="selectpicker" multiple>
                            {{#reasons}}
                                <option value= "{{this}}" >{{this}}</option>
                            {{/reasons}}
                        </select>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="currencies-search" class="hide search-box">
                <div class="col-lg-10 col-sm-10">
                    <select id="select" multiple class="selectpicker">
                            {{#currencies}}
                                <option value="{{this}}">{{this}}</option>
                            {{/currencies}}
                        </select>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="addresses-search" class="hide search-box">
                <div class="col-lg-10 col-sm-10">
                    <select id="select" class="selectpicker" multiple>
                            {{#addresses}}
                                <option value="{{this._id}}">{{this.fullAddress}}</option>
                            {{/addresses}}
                        </select>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="brands-search" class="hide search-box">
                <div class="col-lg-10 col-sm-10">
                    <select id="select" class="selectpicker" multiple>
                            {{#brands}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/brands}}
                        </select>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="types-search" class="hide search-box">
                <div class="col-lg-10 col-sm-10">
                    <select id="select" class="selectpicker" multiple>
                            {{#types}}
                                <option value= "{{this}}" >{{this}}</option>
                            {{/types}}
                        </select>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="categories-search" class="hide search-box">
                <div class="col-lg-10 col-sm-10">
                    <select id="select" class="selectpicker" multiple>
                            {{#categories}}
                                <option value= "{{this}}" >{{this}}</option>
                            {{/categories}}
                        </select>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
            <div id="boolean-search" class="hide search-box">
                <div class="col-lg-10 col-sm-10">
                    <select id="value" class="selectpicker">
                            <option value="true" >Is</option>
                            <option value="false">Is not</option>
                        </select>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <button class="add-button btn btn-default">Add</button>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-sm-1">
            <button class="pull-right btn btn-default" type="submit">Save...</button>
        </div>
        <div class="col-lg-1 col-sm-1">
            <button id="search" class="pull-right btn btn-default btn-dark">Search</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12  col-sm-12 ">
            <div class="panel panel-black criteria">
                <p class="hide btn btn-dark criterion">
                    <span id="text"></span>&nbsp;&nbsp;<span class="badge">&times;</span>
                </p>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div id="searchResults" class="col-lg-12">
    </div>
</div>

<script>
    $("button#search").click(function (e) {
        e.preventDefault();
        var query = $(".criteria").data("criteria");
     //   alert(JSON.stringify(query));
        $.ajax({
            headers: {
                "Content-Type":"application/json"
            },
            url: "/items/search",
            data: JSON.stringify(query),
            method: "POST",
            success: function (data) {
                $("#searchResults").html(data);
                initItemListCallbacks();
            }
        });
    });

    $("#field").on("change", function (event) {
        $(".search-box").addClass("hide");
        $("#" + $(event.target).val()).removeClass("hide");
    });

    function createCriterion() {
        var criterion = {};
        criterion.name = $("#field option:selected").text();
        criterion.fields = [];
        var searchBox = $(".search-box:not(.hide)");
        var str = $(searchBox).find("#value").val();
        if (str) {
            criterion.fields.push({ key: "value", value: str });
        }

        str = $(searchBox).find("#from").val();
        if (str) {
            criterion.fields.push({ key: "from", value: str });
        }

        str = $(searchBox).find("#to").val();
        if (str) {
            criterion.fields.push({ key: "to", value: str });
        }

        str = $(searchBox).find("#select").val();
        if (str) {
            $.each(str, function (idx, value) {
                var val = {};
                if ($(searchBox).find("#select").length) {
                    val.key = value;
                    val.value = $(searchBox).find("#select option[value=" + value + "]").text();
                }
                criterion.fields.push(val);
            });
        }
        return criterion;
    };

    function updateCriteria(criterion) {
        var criteria = $(".criteria").data("criteria");
        if (!criteria) criteria = {};
        criteria[criterion.name] = criterion;

        $(".criteria").data("criteria", criteria);
        return $(".criteria").data("criteria");
    }

    function removeCriterion(e) {
        var criterion = $(e.target).parent();
        var criterionName = criterion.attr("id");
        delete $(".criteria").data("criteria")[criterionName];
        criterion.remove();
    }

    function updateVisualCriteria(criterion) {
        var button = $(".criteria").find("p#" + criterion.name);
        if (button) {
            $(".criteria p#" + criterion.name).remove();
        }
        $(".criteria p.hide").clone().attr("id", criterion.name).find("#text").text(criterionText(criterion)).end().removeClass("hide").find("span.badge").click(removeCriterion).end().appendTo(".criteria");
    }

    function criterionText(criterion) {
        var text = criterion.name + ":";
        var list = [];
        var lastString = "";
        $.each(criterion.fields, function (idx, value) {
            if (_.contains(['from', 'to', 'select'], value.key))
                text += " " + value.key + " " + value.value;
            else if ('value' == value.key)
                lastString = value.value;
            else
                list.push(value.value);
        });

        if (lastString)
            text += " " + lastString;

        if (list.length) {
            text += (list.length != 1) ? "(" : "";
            text += list.join(",");
            text += (list.length != 1) ? ")" : "";
        }
        return text;
    }

    $(".add-button").click(function (event) {
        event.preventDefault();
        var criterion = createCriterion();
        var criteria = updateCriteria(criterion);
        updateVisualCriteria(criterion);
    });

</script>