<form class="form-horizontal">
    <div class="row">
            <div class="col-lg-2">
                <select class="form-control" name="field" id="field">
                    <option selected value="all">All records</option>
                    {{#each searchObjs}}
                        <option value="{{this.search}}">{{this.path}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-lg-6">
                <div id = "date-search" class="hide search-box">
                    <div class="col-lg-4">
                        <input class="form-control" type="date" name="from" id="from" />
                    </div>
                    <div class="col-lg-1">
                        <label class="control-label">-</label>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" type="date" name="to" id="to" />
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "number-search" class="hide search-box">
                    <div class="col-lg-4">
                        <input class="form-control" type="number" min="0" name="from" id="from"/>
                    </div>
                    <div class="col-lg-1">
                            <label class="control-label">-</label>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" type="number" min="0" name="to" id="to"/>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "currency-search" class="hide search-box">
                    <div class="col-lg-4">
                        <input class="form-control" step=".01" min="0" type="number" name="from" id="from" />
                    </div>
                    <div class="col-lg-1">
                            <label class="control-label">-</label>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" step=".01" min="0" type="number" name="to" id="to" />
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "string-search" class="hide search-box">
                    <div class="col-lg-9">
                        <input class="form-control" id="value"/>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>   
                <div id = "weight-search" class="hide search-box">
                    <div class="col-lg-3">
                        <input class="form-control" step=".001" min="0" type="number" name="from" id="from" />
                    </div>
                    <div class="col-lg-1">
                        <label class="control-label">-</label>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" step=".001" min="0" type="number" name="to" id="to" />
                    </div>
                    <div class="col-lg-2">
                        <select id = "string" class="form-control">
                            <option value=""></option>
                            {{#units}}
                                <option value="{{this}}">{{this}}</option>
                            {{/units}}
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "reasons-search" class="hide search-box">
                    <div class="col-lg-9">
                        <select id = "select" class="selectpicker" multiple >
                            {{#reasons}}
                                <option value= "{{this}}" >{{this}}</option>
                            {{/reasons}}
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "currencies-search" class="hide search-box">
                    <div class="col-lg-9">
                        <select id="select" multiple class="selectpicker">
                            {{#currencies}}
                                <option value="{{this}}">{{this}}</option>
                            {{/currencies}}
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "addresses-search" class="hide search-box">
                    <div class="col-lg-9">
                        <select id ="select" class="selectpicker" multiple>
                            {{#addresses}}
                                <option value="{{this._id}}">{{this.fullAddress}}</option>
                            {{/addresses}}
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "brands-search" class="hide search-box">
                    <div class="col-lg-9">
                        <select id="select" class="selectpicker" multiple >
                            {{#brands}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/brands}}
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "types-search" class="hide search-box">
                    <div class="col-lg-9">
                        <select id = "select" class="selectpicker" multiple>
                            {{#types}}
                                <option value= "{{this}}" >{{this}}</option>
                            {{/types}}
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "categories-search" class="hide search-box">
                    <div class="col-lg-9">
                        <select id="select" class="selectpicker" multiple >
                            {{#categories}}
                                <option value= "{{this}}" >{{this}}</option>
                            {{/categories}}
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
                <div id = "boolean-search" class="hide search-box">
                    <div class="col-lg-9">
                        <select id="value" class="form-control">
                            <option value="true" >Is</option>
                            <option value="false">Is not</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="add-button btn btn-default">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <button class="pull-right btn btn-default" type="submit">Save...</button>
            </div>
            <div class="col-lg-1">
                <button class="pull-right btn btn-default btn-dark" type="submit">Search</button>
            </div>
    </div>
    <br/>
    <div class="row">
            <div class="col-lg-12 criteria">
                <p class="hide btn btn-primary criterion">
                    <span id="text"></span>&nbsp;&nbsp;<span class="badge">&times;</span>
                </p>   
            </div>
            
    </div>
</form>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-black">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Product</th>
                            <th>Brand</th>
                            <th class="hidden-sm hidden-xs">Weight</th>
                            <th class="hidden-sm hidden-xs">Unit</th>
                            <th class="hidden-xs">Items</th>
                            <th class="hidden-xs">Item Cost</th>
                            <th>Total Cost</th>
                            <th class="hidden-xs">Address</th>
                            <th class="hidden-md hidden-sm hidden-xs">Type</th>
                            <th class="hidden-xs">Category</th>
                            <th class="hidden-md hidden-sm hidden-xs">Currency</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="modal-row-container">
                        {{#list}}
                        <tr id="{{_id}}">
                            <td><i class="{{status}}"></i></td>
                            <td>{{#if date}} {{dateFormat date "YYYY-MM-DD" true}} {{/if}}
                            </td>
                            <td>{{product}}</td>
                            <td>{{brand.name}}</td>
                            <td class="hidden-sm hidden-xs">{{weight}}</td>
                            <td class="hidden-sm hidden-xs">{{unit}}</td>
                            <td class="hidden-xs">{{units_bought}}</td>
                            <td class="hidden-xs">{{item_cost}}</td>
                            <td>{{totalItemCost}}</td>
                            <td class="hidden-xs">{{address.fullAddress}}</td>
                            <td class="hidden-md hidden-sm hidden-xs">{{type}}</td>
                            <td class="hidden-xs">{{category}}</td>
                            <td class="hidden-md hidden-sm hidden-xs">{{currency}}</td>
                            <td><a id="del-link" data-id="{{_id}}" href=""><i class="fa fa-trash"></i></a>&nbsp;<a class="update-link"
                                    data-id="{{_id}}" href=""><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                        {{/list}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="upsertModal" class="modal fade" role="dialog">
    <form class="form-horizontal" enctype="application/x-www-form-urlencoded" action="" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="bg-dark modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Item upsert</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id" />
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label for="date" class="control-label">Date</label>
                            <input class="form-control" type="date" name="date" id="date" value="" />
                        </div>
                        <div class="col-lg-5">
                            <label for="product" class="control-label">Product</label>
                            <input class="form-control" name="product" id="product" value="" />
                        </div>
                        <div class="col-lg-2">
                            <label for="brand" class="control-label">Brand</label>
                            <select class="form-control" name="brand" id="brand">
                            {{#brands}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/brands}}
                        </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="reason" class="control-label">Reason</label>
                            <select class="form-control" name="reason" id="reason">
                            {{#reasons}}
                                <option>{{this}}</option>
                            {{/reasons}}
                        </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="upp" class="control-label">UPP</label>
                            <input type="number" min="0" class="form-control" name="upp" id="upp" value="" />
                        </div>
                        <div class="col-lg-3">
                            <label for="weight" class="control-label">Weight</label>
                            <div class="input-group">
                                <input class="form-control" step=".001" min="0" type="number" name="weight" id="weight" />
                                <select class="selectpicker" name="unit" id="unit">
                                {{#units}}
                                    <option>{{this}}</option>
                                {{/units}}
                            </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="unit_cost" class="control-label">Unit cost</label>
                            <input class="form-control" step=".01" min="0" type="number" name="unit_cost" id="unit_cost" />
                        </div>
                        <div class="col-lg-2">
                            <label for="units_bought" class="control-label">Items</label>
                            <input class="form-control" min="0" type="number" name="units_bought" id="units_bought" value="" />
                        </div>
                        <div class="col-lg-3">
                            <label for="item_cost" class="control-label">Cost</label>
                            <div class="input-group">
                                <input class="form-control" name="item_cost" id="item_cost" type="number" step=".01" min="0" />
                                <select class="selectpicker" name="currency" id="currency">
                            {{#currencies}}
                                <option value="{{this}}">{{this}}</option>
                            {{/currencies}}
                            </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <label for="address" class="control-label">Address</label>
                            <select class="form-control" name="address" id="address">
                            {{#addresses}}
                                <option value="{{this._id}}">{{this.fullAddress}}</option>
                            {{/addresses}}
                        </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="type" class="control-label">Type</label>
                            <select class="form-control" name="type" id="type">
                            {{#types}}
                                <option>{{this}}</option>
                            {{/types}}
                        </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="category" class="control-label">Category</label>
                            <select class="form-control" name="category" id="category">
                            {{#categories}}
                                <option>{{this}}</option>
                            {{/categories}}
                        </select>
                        </div>
                        <div class="col-lg-1">
                            <label for="promotion" class="control-label">Prom</label>
                            <input type="checkbox" class="form-control" name="promotion" id="promotion" />
                        </div>
                        <div class="col-lg-1">
                            <label for="good_buy" class="control-label">Good</label>
                            <input type="checkbox" class="form-control" name="good_buy" id="good_buy" />
                        </div>
                        <div class="col-lg-12">
                            <label for="Comments" class="control-label">Comments</label>
                            <textarea class="form-control" placeholder="Comments are optional" name="comments" id="comments"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="pull-right btn btn-default" type="submit">Upsert</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="detailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="bg-dark modal-header">
                <b>Item details</b>
                <button type="button" class="close" data-dismiss="modal"><b>&times;</b></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="date" class="control-label">Date</label>
                        <div id="date"></div>
                    </div>
                    <div class="col-lg-4">
                        <label for="product" class="control-label">Product</label>
                        <div id="product"></div>
                    </div>
                    <div class="col-lg-2">
                        <label for="brand" class="control-label">Brand</label>
                        <div id="brand"></div>
                    </div>
                    <div class="col-lg-1">
                        <label for="units_bought" class="control-label">Items</label>
                        <div id="units_bought"></div>
                    </div>
                    <div class="col-lg-1">
                        <label for="reason" class="control-label">Reason</label>
                        <div id="reason"></div>
                    </div>
                    <div class="col-lg-1">
                        <label for="promotion" class="control-label">Prom</label>
                        <div>
                            <center><i id="promotion"></i></center>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <label for="good_buy" class="control-label">Good</label>
                        <div>
                            <center><i id="good_buy"></i></center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <label for="upp" class="control-label">UPP</label>
                        <div id="upp"></div>
                    </div>
                    <div class="col-lg-2">
                        <label for="weight" class="control-label">Weight Cost</label>
                        <div><span id="weight"></span><span id="unit"></span> x <span id="unit_cost"></span></div>
                    </div>
                    <div class="col-lg-1">
                        <label for="item_cost" class="control-label">Cost</label>
                        <div id="item_cost"></div>
                    </div>
                    <div class="col-lg-1">
                        <label for="type" class="control-label">Type</label>
                        <div id="type"></div>
                    </div>
                    <div class="col-lg-1">
                        <label for="category" class="control-label">Category</label>
                        <div id="category"></div>
                    </div>
                    <div class="col-lg-6">
                        <label for="address" class="control-label">Address</label>
                        <div id="address"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label for="Comments" class="control-label">Comments</label>
                        <div id="comments"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <b>Total Cost:</b> <span id="totalItemCost"></span>&nbsp;<span id="currency"></span>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

    $("#field").on("change",function(event){
        $(".search-box").addClass("hide");
        $("#" + $(event.target).val()).removeClass("hide");
    });


    function createCriterion(){
        var criterion = {};
        criterion.name = $( "#field option:selected" ).text();
        criterion.fields = [];
        var searchBox = $(".search-box:not(.hide)");
        var str = $(searchBox).find("#value").val();
        if (str){
            criterion.fields.push({key:"value",value:str});
        }

        str = $(searchBox).find("#from").val();
        if (str){
            criterion.fields.push({key:"from",value:str});
        }

        str = $(searchBox).find("#to").val();
        if (str){
            criterion.fields.push({key:"to",value:str});
        }

        str = $(searchBox).find("#select").val();
        if (str){
            $.each(str,function(idx,value){
                var val = {};
                if ($(searchBox).find("#select").length){
                    val.key = value;
                    val.value = $(searchBox).find("#select option[value=" + value + "]").text(); 
                }
                criterion.fields.push(val);
            });
        }
        return criterion;
    };

    function updateCriteria(criterion){
        var criteria = $(".criteria").data("criteria");
        if (!criteria) criteria = {};
        criteria[criterion.name] = criterion;
        
        $(".criteria").data("criteria",criteria);
        return $(".criteria").data("criteria");
    }

    function updateVisualCriteria(criterion){
        var button = $(".criteria").find("p#" + criterion.name);
        if (button){
            $(".criteria p#" + criterion.name).remove();
        }
        $(".criteria p.hide").clone().attr("id",criterion.name).find("#text").text(criterionText(criterion)).end().removeClass("hide").find("span.badge").click(e => $(e.target).parent().remove()).end().appendTo(".criteria");
    }

    function criterionText(criterion){
        var text = criterion.name + ":";
        $.each(criterion.fields,function(idx,value){
            if (_.contains(['from', 'to', 'select', 'string'], value.key))
                text += " " + value.key + " = " + value.value;
            else
                text += " " + value.value;
        });
        
        return text;
    }

    $(".add-button").click(function(event){
        event.preventDefault();
        var criterion = createCriterion();
        var criteria = updateCriteria(criterion);
        updateVisualCriteria(criterion);
    });

    $("a#del-link").on("click", itemDeleteCallback);

    $("a.add-link").on('click', function (e) {
        e.preventDefault();
        itemUpsertCallback();
        $("#upsertModal").modal({ keyboard: true });
    });

    $("a.update-link").on('click', function (e) {
        e.preventDefault();
        $.ajax({
            url: "detail/" + $(this).data("id"),
            method: "GET",
            success: itemUpsertCallback
        });
    });

    $("#modal-row-container td:not(#actions)").on('click', function (e) {
        $.ajax({
            url: "detail/" + $(e.target).parent().attr("id"),
            method: "GET",
            success: itemDetailCallback
        });
    });

</script>