<div class="col-lg-12">
    <div class="panel panel-black">
        <div class="panel-body">
            <a class="add_link" href="/items/form"><i class="fa fa-4x fa-plus-circle"></i></a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Product</th>
                        <th>Brand</th>
                        <th>Weight</th>
                        <th>Total Cost</th>
                        <th>Unit</th>
                        <th>Unit Bought</th>
                        <th>Unit cost</th>
                        <th>Item cost</th>
                        <th>Reason</th>
                        <th>Address</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Currency</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#list}}
                    <tr id="item-{{_id}}">
                        <td><i class="{{status}}"></i></td>
                        <td>{{#if date}}
                            {{formatDate date day="numeric" month="numeric" year="numeric"}}
                            {{/if}}</td>
                        <td>{{product}}</td>
                        <td>{{brand.name}}</td>
                        <td>{{weight}}</td>
                        <td>{{totalItemCost}}</td>
                        <td>{{unit}}</td>
                        <td>{{units_bought}}</td>
                        <td>{{unit_cost}}</td>
                        <td>{{item_cost}}</td>
                        <td>{{reason}}</td>
                        <td>{{address.fullAddress}}</td>
                        <td>{{type}}</td>
                        <td>{{category}}</td>
                        <td>{{currency}}</td>
                        <td><a id="del-link" data-id="{{_id}}" href=""><i class="fa fa-trash"></i></a>&nbsp;<a href="form?id={{_id}}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    {{/list}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $("a#del-link").on("click", function (event) {
        $.ajax(
            {
                url: $(this).data("id"),
                method: "DELETE",
                success: function (data) {
                    $("#item-" + $(this).data("id")).remove();
                }
            }
        );
    });

</script>