
<div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10">
            <center>
                <ul class="pagination pagebar">
                    {{#times list.pages 10 list.page }}
                        {{#equal @root.list.page this}} 
                            <li class="page-item active active-dark"><a class="page-link" href="#">{{this}}</a></li>
                        {{else}}
                            <li class="page-item"><a class="page-link" href="#">{{this}}</a></li>
                        {{/equal}}
                    {{else}}
                        {{#equal @root.list.page this}} 
                            <li class="page-item active active-dark"><a class="page-link" href="#"><b>{{this}}</b></a></li>
                        {{else}}
                            <li class="page-item"><a class="page-link" href="#"><b>{{this}}</b></a></li>
                        {{/equal}}
                    {{/times}}
                </ul>
            </center>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2">
            <button class="pull-right count btn btn-dark"><span class="badge">{{json list.total}}</span></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {{> items }}
    </div>
</div>