<h1>{{title}}</h1>

<p>Units List</p>
<ul>
    {{#brands}}
        <li>{{_id}} - {{name}} -> {{description}} -> {{website}} -> <a href="delete/{{_id}}">Delete</a>&nbsp;<a href="form?id={{_id}}">Update</a>&nbsp;<a href="detail/{{_id}}">detail</a></li>
    {{/brands}}
</ul>
